MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_SERVER_HOSTNAME=s3.example.com
MINIO_API_HOSTNAME=api.example.com
MINIO_NODE_HOSTNAME=node-1
MINIO_SERVER_URL=https://api.example.com
MINIO_BROWSER_REDIRECT_URL=https://s3.example.com
MINIO_COMPRESSION_ENABLE=on
MINIO_SITE_NAME=production-cluster
